<!-- valores.component.html -->
<div class="container-fluid bg-primary">
  <div class="row">
    <div class="col-12 text-center mb-3 text-white">
      <h1>Valores Institucionales</h1>
    </div>
  </div>

  <!-- Primera fila -->
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img [src]="valor1" class="card-img-top fixed-size-image" alt="Valor 1">
        <div class="card-body">
          <h5 class="card-title">Valor 1</h5>
          <p class="card-text">Contenido del Valor 1</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img [src]="valor2" class="card-img-top fixed-size-image" alt="Valor 2">
        <div class="card-body">
          <h5 class="card-title">Valor 2</h5>
          <p class="card-text">Contenido del Valor 2</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img [src]="valor3" class="card-img-top fixed-size-image" alt="Valor 3">
        <div class="card-body">
          <h5 class="card-title">Valor 3</h5>
          <p class="card-text">Contenido del Valor 3</p>
        </div>
      </div>
    </div>
    <!-- Agregar más columnas de cards según sea necesario -->
  </div>
  <!-- Segunda fila -->
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card">
        <img [src]="valor4" class="card-img-top fixed-size-image" alt="Valor 4">
        <div class="card-body">
          <h5 class="card-title">Valor 4</h5>
          <p class="card-text">Contenido del Valor 4</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img [src]="valor5" class="card-img-top fixed-size-image" alt="Valor 5">
        <div class="card-body">
          <h5 class="card-title">Valor 5</h5>
          <p class="card-text">Contenido del Valor 5</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img [src]="valor6" class="card-img-top fixed-size-image" alt="Valor 6">
        <div class="card-body">
          <h5 class="card-title">Valor 6</h5>
          <p class="card-text">Contenido del Valor 6</p>
        </div>
      </div>
    </div>
  </div>
</div>
