<div class="container-fluid bg-dark text-white">
  <div class="row">
    <div class="col-12 bg-primary text-center py-3">
      <h2 class="m-0">Nuestro Colegio</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center py-3">
      <h3 class="m-0">IDENTIDAD DE NUESTRA I.E</h3>
    </div>
  </div>
  <div class="row">
    <!-- Primera columna con carrusel de cards -->
    <div class="col-lg-6">
      <div id="carrusel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card" style="max-width: 80%; margin: 0 auto;">
              <img src="../../assets/tarjeta1.jpg" class="card-img-top img-fluid" alt="Imagen 1">
              <div class="card-body">
                <h5 class="card-title text-center">¿Quiénes somos?</h5>
                <p class="card-text">
                  La Institución Educativa N° 42127 “Lucía Quispe 
                  Nina”, fue creado en el año de 1952, con 
                  Resolución Ministerial N° 5450-1995, como 
                  Escuela de Educación Primaria, siendo la 
                  primera Directora, la Prof. LUCÍA QUISPE NINA, 
                  nacida en San Pedro de la Provincia de Candarave.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="max-width: 80%; margin: 0 auto;">
              <img src="../../assets/tarjeta22.jpg" class="card-img-top img-fluid" alt="Imagen 2">
              <div class="card-body">
                <h5 class="card-title">¿Cuál es nuestra misión?</h5>
                <p class="card-text">Somos una Institución Educativa del nivel primario y secundario que propicia una Educación de calidad, con docentes comprometidos en su labor pedagógica, orientados a desarrollar en nuestros estudiantes competencias cognitivas, físicas, emocionales y sociales, fortaleciendo los valores y promoviendo la participación de toda la comunidad educativa en un ambiente de sana participación y convivencia armoniosa.</p>
              </div>
            </div>
          </div>
          <!-- Agrega más tarjetas según sea necesario -->
        </div>
        <a class="carousel-control-prev" href="#carrusel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carrusel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </a>
      </div>
    </div>
    
    
    
    <!-- Segunda columna con imagen y frase -->
    <div class="col-lg-6">
      <div id="carrusel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card h-100" style="max-width: 70%; margin: 0 auto;"> <!-- Ajusta el ancho máximo de la tarjeta -->
              <img src="../../assets/normas.jpg" class="card-img-top img-fluid" alt="Imagen 1" style="width: 100%; max-height: 80vh; object-fit: cover; object-position: center top;">
            </div>
          </div>
          <!-- Agrega más tarjetas según sea necesario -->
        </div>
      </div>
    </div>
    
    
    
    
    
    
    
    
    
