/* Estilos CSS personalizados */
.card {
   max-width: 100%;
 }
 
 .card-title {
   font-size: 24px;
   color: #333; /* Color del texto del título */
 }
 
 .card-text {
   font-size: 18px;
   color: #555; /* Color del texto del párrafo */
 }
 
 @media (max-width: 768px) {
   /* Estilos para pantallas más pequeñas (tablets y móviles) */
   .card-title {
     font-size: 20px;
   }
 
   .card-text {
     font-size: 16px;
   }
 }
 